/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #FFF;
    color: #333;
}

header {
    background-color: #FFF;
    color: #333;
    padding: 20px;
    text-align: center;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    text-align: left;
    justify-content: center;
}

.profile-photo img {
    width: 150px;
    border-radius: 5%;
    margin-right: 20px;
}

.profile-data h2 {
    color: #333; /* Warna font hitam */
}

.profile-data p {
    color: #333; /* Warna font hitam */
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.project {
    flex: 0 0 calc(50% - 20px);
    background-color: #FFF;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-image img {
    width: 100%;
    height: auto;
}

.project-description {
    padding: 20px;
    color: #333; /* Warna font hitam */
}

.skills {
    text-align: center;
    margin-top: 20px;
}

.skill-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-icons img {
    width: 80px;
    margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-icons img:hover {
    transform: scale(1.2); /* Memperbesar ikon saat dihover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Menambahkan bayangan saat dihover */
}

footer {
    background-color: #FFF;
    color: #333;
    padding: 20px;
    margin: 60px;
    text-align: center;
}

footer a {
    color: #333; /* Warna font hitam */
    text-decoration: none; /* Menghilangkan garis bawah */
}

footer a:hover {
    text-decoration: underline; /* Menambahkan garis bawah saat dihover */
}


footer a {
    color: #333; /* Warna font hitam */
    text-decoration: none; /* Menghilangkan garis bawah */
}

footer a:hover {
    text-decoration: underline; /* Menambahkan garis bawah saat dihover */
}

.project:hover {
    transform: scale(1.05); /* Memperbesar kotak saat dihover */
    transition: transform 0.3s ease; /* Animasi perubahan */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan saat dihover */
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .project {
        flex: 0 0 calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .profile {
        flex-direction: column;
        text-align: center;
    }

    .profile-photo img {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .profile-photo img {
        width: 120px;
    }

    .project-description {
        padding: 15px;
    }

    .skill-icons img {
        width: 80px;
    }
}
